.footer{
    position: fixed;
    bottom: 0;
    width:100%;
    height: 180px;
    background-position: middle;
    background-repeat: repeat-x;
    background-image: url(../../img/inlog-bottom.png);
}

.zi-top{
    position: relative;
    z-index: 100;
}

.zi-bottom{
    z-index: 0;
}