.null{
    width: 100%;
    margin: 0px;
}
header{
    min-height: 60px;
    padding: 12px;
    margin: 0px 0px 24px 0px;
    background-color: #428bca;
}

.menu{
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    line-height: 30px;
}

.menuitem{
    display: inline;
    color: #fff;
    text-transform: uppercase;
    margin-left: 25px;
}

.menuitem a, .menuitem a:hover{
    text-decoration: none;
    color: #fff;
}

.input-group-addon{
	width: 100px;
} 

.spaced{
	margin: 3px 0px;
}
@media (min-width: 992px) {
    .formspaced-left{
        padding-right:1px;
    }

    .formspaced-right{
        padding-left: 1px;
    }

    .tripled{
        width: 30%;
    }
}
@media (max-width: 992px) {
    .tripled{
        width: 100%;
        display: block;
    }
}

@media (max-width: 690px) {
    .menuitem{
        width: 100%;
        text-align: center;
        display: block;
        margin: 0;
        font-size: 20px;
    }

    .menuitem:first-child{
        margin-top: 12px;
    }
    header .container .pull-left, header .container .pull-right{
        float: none;
        width: 100%;
    }

    .pull-left h1{
        text-align: center;
        border-bottom: 1px solid #fff;
        padding-bottom: 12px;
    }

    .menu{
        padding:0;
    }
}




.flat{
	border: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important; 
}

.darker{
    background-color: #e7e7e7;
}
.profile{
	height: 24px;
}

.emphasis{
    text-align: center;
}

.emphasis h3{
    font-size: 40px;
    margin-bottom: 0px;
}

.aligned-right{
    text-align: right;
}

.aligned-center{
    text-align: center;
}

.title, .title h1{
    margin: 0px;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.title:hover{
    text-decoration: none;
}

.maxed{
    max-width: 150px;
}

.inline{
    display: inline;
}

.right{
    text-align: right;
}

.table tr .name, .table tr .replacement{
    width: 200px;
}

.table tr .start, .table tr .end{
    width: 130px;
}

.table tr .reason{
    width: calc(100% - 660px);
}

.week{
    width: 100%;
    padding: 6px;
    border-collapse: separate;
}


.week .titlerow th{
    padding: 6px;
    border: 1px solid #e7e7e7;
    border-right: none;
    width: 250px;
}

.week .titlerow th:first-child{
    border-top-left-radius: 6px;
}

.week .titlerow th:last-child{
    border-top-right-radius: 6px;
    border-right: 1px solid #e7e7e7;
}


.week .am td{
    border-left: 1px solid #e7e7e7;

}

.week tr td .content{
    width: 100%;
    padding: 6px;
    min-height: 60px;
}

.week .am td:last-child{

    border-right: 1px solid #e7e7e7;
}



.week .pm td{
    border: 1px solid #e7e7e7;
    border-right: none;
}

.week .pm td:last-child{
    border-right: 1px solid #e7e7e7;
    border-bottom-right-radius: 6px;
}

.week .pm td:first-child{
    border-bottom-left-radius: 6px;
}

.week tr:hover{
    background-color:#FAFAFA;
}

.striped li{
    text-align: center;
    padding-bottom: 6px;
    border-bottom: 1px solid #e7e7e7;
}

.striped li:last-child{
    padding-bottom: 0;
    border-bottom: none;
}

.week tr td .content .calendarline {
    background-color: #428BCA;
    padding: 3px;
    color: #fff;
    border-radius: 3px;
    padding-left: 12px;
    margin-bottom: 3px;
}

.week tr td .content .red{
    background-color: #d9534f !important;
    text-align: center;
    padding-left: 0;
}

.week tr td .content .red a, .week tr td .content .red a:hover{
    color: #fff;
    text-decoration: none;
}

.daysleft{
    width: 100%;
    text-align: center;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 26px;
    margin-bottom: 12px;
}

.daysleft h2{
    margin: 0;
    margin-bottom: -6px;
}
.daysleft p{
    margin: 0;
}

.table .newweek{
    background-color: #e7e7e7;
}

tr .black{
    background-color: #000000;
    height: 40px;
}

tr .date{
    width: 20px;
    text-align: center;
    font-size: 12px;
}

.week tr .overlap{
    background-color: #8fb2ff;
}

.overview tr td{
    font-size: 10px;
}

.scroll-container{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

#error{
    padding: 12px;
    text-align: center;
}

